version: 2
jobs:
  build:
    docker:
      - image: ubuntu:16.04   # (1)
      - image: circleci/mongo:latest

    working_directory: ~/code/boilerplate-api
    steps:
      - checkout

      - setup_remote_docker:   # (2)
          docker_layer_caching: true # (3)

      # install curl
      - run:
          name: Install CURL
          command: |
            apt-get update && apt-get install -y apt-transport-https
            apt-get install curl

      # Download and install node
      - run:
          name: Download and install Node.js
          command: |
            curl -sL https://deb.nodesource.com/setup_9.x | bash -
            apt-get install -y nodejs

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: 
          name: Install npm dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # run tests!
      - run:
          name: Run tests
          command: npm run integration

      # use a primary image that already has Docker (recommended)
      # or install it during a build like we do here
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin

      # build and push Docker image
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t adnanrahic/boilerplate-api:$TAG .      # (4)
          docker login -u $DOCKER_USER -p $DOCKER_PASS         # (5)
          docker push adnanrahic/boilerplate-api:$TAG